/*css styleSheet.css*/
:root {
  --main-text-padding: 30px;
  --main-soft-shadow: 1px 1px 6px 1px rgba(0,0,0,0.5);
  --main-inText-image-height: 150px;
  --main-font-size:26px;
  --main-pageContainer-width:70%;
  --navbar-height:50px;
  --navbar-bg: #333;

}
#pageContainer {
    align-self: center;
    position: relative;
    align-self: center;
    display: flex;
    align-items: flex-start;
    width: var(--main-pageContainer-width);
    margin: 0 auto;
}
#pageMetaContainer {
    flex: 1;
    //text-align: center;
    position: relative;
    max-width: 100%;

}
#navbarContatiner{
    position: fixed;
    top:0px;
    right: 0px;
    width: 100%;
    height: 60px;
    z-index: 50;
}
#navbar {
  position: relative;

  transform: translateY(calc(-100%));
  transition: all 0.5s 1s;
  direction: rtl;
  text-align: center;
  background-color: var(--navbar-bg);
  position: fixed;
  width: 100%;
  display: block;
  border-radius: 5px;
  z-index: 30;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

}

#navbarhinter{
    --hinter-mark: grey;
    transition: all 0.7s 2.5s;
    position: absolute;
    background-color: inherit;
    background-image:  linear-gradient(to right, var(--navbar-bg) 0%, var(--navbar-bg)  15%, transparent 16%, transparent 85%, var(--navbar-bg) 86%,
     var(--navbar-bg) 100% ), linear-gradient(to bottom, transparent 0%, transparent 43%, var(--hinter-mark) 44%, var(--hinter-mark) 60%, transparent 61%, transparent 100%);
    background-repeat: no-repeat;
    bottom: -11px;
    right: 48%;
    width: 7%;
    height: 12px;
    border-radius: 0px 0px 10px 10px ;
     z-index: 29;
     opacity: 0.4;

}

#navbar a {
  position: relative;
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {

  background-color: #ddd;
  color: black;
  fill:black;

}

#navbarContatiner:hover #navbar , .hovering{
  transition: all 0.2s 0s;
  transform: translateY(-5px) !important;
}

#navbarContatiner:hover #navbarhinter, #navbarContatiner.hovering #navbarhinter{
  opacity: 1;
  transition: all .8s 0s;
}


.fullscreen {
    top: 2px;
    left: 70px;
    position: absolute;
    width:  calc(var(--main-font-size)*2);
    height: calc(var(--main-font-size) * 2);
    display: inline-block;
    fill:white;
}
#navbar a:hover>.fullscreen {
    fill:black;
}
.image-inside-text{

    display: inline-block;
    position: absolute;
    //top:calc(var(--main-font-size)*1);
    height: calc(var(--main-font-size)*3);
    width: auto;
    margin-left: calc(var(--main-font-size)*0);
    margin-right: calc(var(--main-font-size)*17);
    border-radius: 5px;
}


.text-containig-images{
    line-height: calc(var(--main-font-size)*3.5);
}

#ErrorCheck{
    font-size: 57px;
    color: red;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/assets/OpenSans-Regular.ttf)  format('truetype');

}
@font-face {
    font-family: 'Alfa Slab One', cursive;
    src: url(/assets/AlfaSlabOne-Regular.ttf)  format('truetype');

}
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    src: url('Quicksand-VariableFont_wght.ttf')  format('truetype');

}


div {
 /* border-radius: 5px;
 padding : 1vmin; */
}

body {
//    white-space: pre-wrap;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--main-font-size)
}
p{}

.level0{
    box-shadow:var(--main-soft-shadow);
    padding: 0px;
    background: linear-gradient(to right, rgba(240,240,254,0.9),rgba(240,254,240,0.9) )
}
.level1{
    border: 0px solid black;
    padding: 20px;
    }
.node {
    border: 0px solid black;
}

.image_text{
    display:inline-block;
    float:right;
    margin: 7px;
    height: var(--main-inText-image-height);
    margin:var(--main-text-padding);
    margin-bottom: calc(var(--main-text-padding)*0.1);
    box-shadow:var(--main-soft-shadow);
}

.float-left{
   float:left;
   margin-left:calc(var(--main-text-padding)*2);
   margin-top:calc(var(--main-text-padding)*2);
}
.float-right{
   float:right;
}

.txt~.image_text{
     height: calc(var(--main-inText-image-height)*1.5);
     box-shadow: 0 0;
 }
.txt{
    padding: var(--main-text-padding);
    background: linear-gradient(to left, rgba(190,173,241,1) 0%, rgba(105,190,205,1) 100%);
    font-weight: 600;
    margin: 20px;

}
h1{
    font-size: calc(var(--main-font-size)*1.8);
    font-family: 'Alfa Slab One', cursive;
    margin: 10px;
    padding: 3px;
    font-weight:500;
    color: #A12D13;
    text-shadow: -1px 0  black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px 2px grey;
}
h1.gradient1 {
    background-image:         linear-gradient(to right, blue,  red,crimson, salmon, orange, navy, green, purple, brown, blue, lightblue); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

 h2, h3 , h4{

    font-weight:800;
    letter-spacing: 0.06em;
    padding: 3px;
    color: rgba(0,0,0,0.7);
    margin: 10px;
    overflow-x: hidden;
    z-index: 4;

}
h2{
    font-size: calc(var(--main-font-size)*1.3);
    position: relative;
    margin-bottom:calc(var(--main-font-size)*-1);
    padding-bottom: 0px;
}

h2+.header-underline{
   position: relative;
   width: 93%;
   height: calc(var(--main-font-size)/6);
   background: linear-gradient(to bottom ,
       black, rgba(50,50,50,0.7)  );
   left: 20px;
   background-repeat: no-repeat;
   margin-bottom:calc(var(--main-font-size)*1);
   border-radius: 20px;
   z-index: 0;
}
h3{
    font-size: calc(var(--main-font-size)*1.1);

}





.img-main{
    text-align: center;
    position:relative;
    float:none;
    display:block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    height: inherit;
    box-shadow:var(--main-soft-shadow);
}
.txt_info{
    padding: calc(var(--main-text-padding)/2);
    background: linear-gradient(to left, rgba(230,213,241,1) 0%, rgba(205,190,205,1) 100%);
    font-weight: 600;
    margin: 20px;
}
.word-bank{
    text-align: center;
    word-spacing: 10px;
    white-space: pre-wrap;
    overflow-wrap: normal;
    padding: calc(var(--main-text-padding)/2);
    background: linear-gradient(to left, rgba(230,213,241,1) 0%, rgba(205,190,205,1) 100%);
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 10px;
    line-height: 200%;
}
.word-place-bank{
    text-align: center;
    word-spacing: 10px;
    white-space: pre-wrap;
    overflow-wrap: normal;
    padding: calc(var(--main-text-padding)/2);
    background: linear-gradient(to left, rgba(210,190,243,1) 0%, rgba(200,150,223,1) 100%);
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 10px;

}
.txt_instruct{
    font-size: calc(var(--main-font-size)*0.9);
    color: rgba(0, 0, 0, 0.8);
}
