/*css styleSheet.css*/
:root {
  --main-text-padding: 30px;
  --main-soft-shadow: 1px 1px 6px 1px rgba(0,0,0,0.5);
}


#ErrorCheck{
    font-size: 57px;
    color: red;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/assets/OpenSans-Regular.ttf)  format('truetype');

}
@font-face {
    font-family: 'Alfa Slab One', cursive;
    src: url(/assets/AlfaSlabOne-Regular.ttf)  format('truetype');

}
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    src: url('Quicksand-VariableFont_wght.ttf')  format('truetype');

}


div {

 border-radius: 2vmin;
 padding : 1vmin;




}

body {
    font-family: 'Quicksand', sans-serif;
    //background: radial-gradient(circle, rgba(196,203,241,1) 0%, rgba(255,255,255,1) 100%);
    font-size: 26px;
}
p{

}

.level0{
    /* border: 5px solid salmon;
    background: linear-gradient(to left, rgba(160,203,241,1) 0%, rgba(255,190,255,1) 100%) */
    box-shadow:var(--main-soft-shadow);
}
.level1{
    border: 0px solid black;
    }
.node {
        border: 0px solid black;
}
.image-div{
   float:left;
   height: 100px;
   display:inline-block;

}

.image_text{
    display:inline-block;
 float:right;
 margin: 7px;
 height: 200px;
 margin:var(--main-text-padding);
 margin-bottom: calc(var(--main-text-padding)*0.1);
 box-shadow:var(--main-soft-shadow);


}
.float-left{
   float:left;

}
.float-right{
   float:right;
}
.txt{
    padding: var(--main-text-padding);
    background: linear-gradient(to left, rgba(190,173,241,1) 0%, rgba(105,190,205,1) 100%)

}
h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    margin: 10px;
    padding: 3px;
    font-weight:500;
    color: #A12D13;
     text-shadow: -1px 0  black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px 2px grey;


}
h1.gradient1 {
    background-image:         linear-gradient(to right, blue,  red,crimson, salmon, orange, navy, green, purple, brown, blue, lightblue); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
